
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

$blue-vivid: #3498db;
$purple: #7068C5;
$brown--dark: #763912;
$brown--mid: #B17339;
$brown--light: #DACCAA;
$offwhite: #FEFEFE;

$blue-xl: rgba(56, 178, 244, 1);
$blue-l: rgba(38, 152, 214, 1);
$blue: rgba(36, 122, 168, 1);
$blue-d: rgba(44, 78, 96, 1);
$blue-xd: rgba(25, 53, 68, 1);

$yellow: #fcc836;

// Brands
$brand-primary: desaturate(darken(#7068c5, 10%), 20%);
$brand-info: #8eb4cb;
$brand-success: #7fc373;
$brand-warning: #cbb956;
$brand-danger: #bf5329;
$black: #000000;
$white: #ffffff;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;
